@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Palette */
  --black: #111;
  --black-dark: #1a1a1a;
  --black-light: #262626;
  --black-lighter: #525252;
  --black-lightest: #737373;

  --white: #fff;
  --white-light: #d4d4d4;
  --white-lighter: #e5e5e5;
  --white-lightest: #f5f5f5;
  --white-dark: #a3a3a3;
}

[data-theme="dark"] {
  --system-color-pageColor: var(--white);
  --system-color-pageColorSecondary: var(--white-light);
  --system-color-pageColorTertiary: var(--white-dark);
  --system-color-pageBg: var(--black);
  --system-color-pageBgSecondary: var(--black-dark);
  --system-color-pageBgTertiary: var(--black-lighter);
  --system-color-border: var(--black-light);
  --system-color-dropdownBg: var(--black-dark);
}

[data-theme="light"] {
  --system-color-pageColor: var(--black);
  --system-color-pageColorSecondary: var(--black-lighter);
  --system-color-pageColorTertiary: var(--black-lightest);
  --system-color-pageBg: var(--white);
  --system-color-pageBgSecondary: var(--white-lighter);
  --system-color-pageBgTertiary: var(--white-lightest);
  --system-color-border: var(--white-lighter);
  --system-color-dropdownBg: var(--white);
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background: var(--system-color-pageBg);
    color: var(--system-color-pageColor);
    font-family: "Inter";
    line-height: 1.8;
  }

  h1 {
    font-size: 64px;
    font-weight: bold;
    color: var(--color-text-title);
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--color-text-title);
  }

  h3 {
    font-size: 28px;
    font-weight: bold;
    color: var(--color-text-title);
  }

  p {
    font-size: 16px;
  }

  @media screen and (max-width: 1024) {
    h1 {
      font-size: 58px;
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 56px;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 25px;
    }
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 640px) {
    h1 {
      font-size: 42px;
    }
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 19px;
    }
    h4 {
      font-size: 15px;
    }
    p {
      font-size: 14px;
    }
  }
}
