@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Color Pallete */
  --white: #ffffff;
  --black: #000000;
  --green: #4ade80;
  --red: #f87171;
  --blue: #60a5fa;
  --amber: #fbbf24;
  --gray: #9ca3af;
  --gray-100: #eee;
  --gray-200: #374151;
  --sky: #00bbff;

  --color-primary: var(--blue);
  --color-secondary: var(--gray);
  --color-danger: var(--red);
  --color-success: var(--green);
  --color-warning: var(--amber);
  --color-light: var(--white);
  --color-dark: var(--black);
  --color-accent: var(--sky);
}

[data-theme="dark"] {
  --color-text-title: var(--color-light);
  --color-text-body: var(--color-secondary);
  --color-background-primary: var(--color-dark);
  --color-background-secondary: var(--color-secondary);
  --color-accent-icon: var(--color-accent);
  --color-border: var(--gray-200);
}

[data-theme="light"] {
  --color-text-title: var(--color-dark);
  --color-text-body: var(--gray-200);
  --color-background-primary: var(--color-light);
  --color-background-secondary: var(--gray-100);
  --color-accent-icon: var(--color-accent);
  --color-border: var(--gray-100);
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background-primary);
    color: var(--color-text-body);
    font-family: "Inter";
    line-height: 1.8;
  }

  h1 {
    font-size: 64px;
    font-weight: bold;
    color: var(--color-text-title);
  }

  h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--color-text-title);
  }

  h3 {
    font-size: 28px;
    font-weight: bold;
    color: var(--color-text-title);
  }

  p {
    font-size: 16px;
  }

  @media screen and (max-width: 1024) {
    h1 {
      font-size: 58px;
    }
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 56px;
    }
    h2 {
      font-size: 36px;
    }
    h3 {
      font-size: 25px;
    }
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 640px) {
    h1 {
      font-size: 42px;
    }
    h2 {
      font-size: 22px;
    }
    h3 {
      font-size: 19px;
    }
    h4 {
      font-size: 15px;
    }
    p {
      font-size: 14px;
    }
  }
}
